.form {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto 160px;
  padding-top: 20px;
  text-align: center;
}
.form .form-group {
  text-align: left;
}
.form .form-group .add-member {
  margin-top: 6%;
  align: middle;
}
.form .form-button {
  float: right;
}
