.form {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto 95px;
  padding-top: 20px;
  text-align: center;
}
.form .form-group .group-button-container .btn {
  width: 85%;
  padding: 12px 24px;
  font-size: 18px;
  margin-top: 5%;
}
.form .form-group .dropdown-label {
  font-size: 18px;
}
.form .form-group .group-button-container .custom-select {
  width: 85%;
  padding: 4px 24px;
  font-size: 18px;
}
